@import '../bower_components/normalize-css/normalize.css'

.header
  text-align: center
  font-size: 50px

.searchBar
  text-align: center

.searchBar_input
  width: 200px
  text-align: center
  margin-left: auto
  margin-right: auto
