doctype html
html.no-js
head
    meta(charset='utf-8')
    title gulpWepApp
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
       Place favicon.ico and apple-touch-icon.png in the root directory 
    //
       build:css styles/vendor.css 
    //
       bower:css
    link(rel='stylesheet', href='bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='./bower_components/bootstrap/dist/css/bootstrap.min.css')
    //
       endbower 
    //
       endbuild 
    //
       build:css styles/main.css 
    link(rel='stylesheet', href='styles/main.css')
    //
       endbuild 
    //
       build:js scripts/vendor/modernizr.js 
    script(src='bower_components/modernizr/modernizr.js')
    //
       endbuild 
  body
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    #container
    //
       build:js scripts/vendor.js 
    //
       bower:js
    //
       endbower 
    //
       endbuild 
    //
       build:js scripts/plugins.js 
    //
       endbuild 
    //
       build:js scripts/main.js 
    script(src='scripts/bundle.js')
    //
       endbuild 

